<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard | Key Vault Acmebot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Key Vault Acmebot
      </h1>
      <div id="app">
        <div class="buttons are-small">
          <a class="button" href="./add-certificate">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add</span>
          </a>
          <a class="button" @click="refresh">
            <span class="icon">
              <i class="fas fa-sync"></i>
            </span>
            <span>Refresh</span>
          </a>
        </div>
        <h2 class="title is-4">Managed certificates</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Certificate name</th>
              <th>DNS Names</th>
              <th>Created On</th>
              <th>Expires On</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="certificate in certificates">
              <td>{{ certificate.name }}</td>
              <td>
                <div class="tags">
                  <span v-for="dnsName in certificate.dnsNames" class="tag is-light is-medium">
                    {{ toUnicode(dnsName) }}
                  </span>
                </div>
              </td>
              <td>{{ formatCreatedOn(certificate.createdOn) }}</td>
              <td>{{ formatExpiresOn(certificate.expiresOn) }}</td>
              <td>
                <div class="buttons are-small">
                  <button class="button is-info" @click="details(certificate)">Details</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <h2 class="title is-4">Certificates renewal history</h2>
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Certificate name</th>
              <th>DNS Names</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="certificate in certificates">
              <td>{{ certificate.name }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="modal" :class="{ 'is-active': modalActive }">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Details</p>
            </header>
            <section class="modal-card-body">
              <div v-if="certificate !== ''">
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Certificate Name</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ certificate.name }}
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">DNS Names</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      <div class="tags">
                        <span v-for="dnsName in certificate.dnsNames" class="tag is-light is-medium">
                          {{ toUnicode(dnsName) }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Created On</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ formatCreatedOn(certificate.createdOn) }}
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Expires On</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ formatExpiresOn(certificate.expiresOn) }}
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">X.509 Thumbprint</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ certificate.x509Thumbprint }}
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Key Type</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ certificate.keyType }}
                    </div>
                  </div>
                </div>
                <div v-if="certificate.keyType === 'RSA'" class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Key Size</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ certificate.keySize }} bit
                    </div>
                  </div>
                </div>
                <div v-if="certificate.keyType === 'EC'" class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Elliptic Curve Name</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ certificate.keyCurveName }}
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">Reuse Key on Renewal?</label>
                  </div>
                  <div class="field-body">
                    <div class="content">
                      {{ certificate.reuseKey }}
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-primary" @click="renew" :class="{ 'is-loading': sending }">Renew</button>
              <button class="button" @click="modalActive = false">Close</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.11/vue.global.prod.min.js" integrity="sha512-RiF+Jrmab5nvkymjQZrHxYRi83mZj3cblSwolvamR1phU+rN9gUBPGEU7P+tvaKncRSk8dXvJhyhKb0BpYgj9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js" integrity="sha512-YZlXEJ9dOHnIn3LXSS3RpbhAtTQZWw2VOywaMsC8p7/0DyGu0gEf0pFhkQtE/i4pQpgGUDY7cicb401Tf/5sRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const delay = (millisecondsDelay) => {
      return new Promise(resolve => setTimeout(() => resolve(), millisecondsDelay));
    }

    const app = {
      data() {
        return {
          certificates: [],
          certificate: "",
          sending: false,
          modalActive: false
        };
      },
      methods: {
        async load() {
          try {
            const response = await axios.get("/api/certificates");

            if (response.status === 200) {
              this.certificates = response.data.sort((x, y) => x.expiresOn.localeCompare(y.expiresOn));
            }
          } catch (error) {
            alert(error.response.data.output);
          }
        },
        async refresh() {
          this.certificates = [];
          this.certificate = "";

          await this.load();
        },
        details(certificate) {
          this.certificate = certificate;

          this.modalActive = true;
        },
        async renew() {
          this.sending = true;

          try {
            let response = await axios.post("/api/certificate/" + this.certificate.name);

            while (true) {
              await delay(5000);

              response = await axios.get(response.headers["location"]);

              if (response.status === 200) {
                alert("The certificate was successfully issued.");
                break;
              }
            }
          } catch (error) {
            const problem = error.response.data;

            if (error.response.status === 400) {
              const errors = [];

              for (let key in problem.errors) {
                errors.push(problem.errors[key][0]);
              }

              alert(errors.join("\n"));
            } else {
              alert(problem.detail);
            }
          }

          this.sending = false;
          this.modalActive = false;

          await this.refresh();
        },
        toUnicode(value) {
          return punycode.toUnicode(value);
        },
        formatCreatedOn(value) {
          return new Date(value).toLocaleString();
        },
        formatExpiresOn(value) {
          const date = new Date(value);
          const remainDays = Math.round((date - Date.now()) / (1000 * 60 * 60 * 24));

          return `${date.toLocaleString()} (Expires in ${remainDays} days)`;
        }
      },
      async beforeMount() {
        await this.load();
      }
    };

    Vue.createApp(app).mount("#app");
  </script>
</body>
</html>
