<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Key Vault Acmebot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Renew Certificate
      </h1>
      <div id="app">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Key Vault Certificate</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select" :class="{ 'is-loading': loading }">
                  <select v-model="certificate">
                    <option disabled value="">Please select one</option>
                    <option v-for="certificate in certificates" :value="certificate">{{ certificate.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="certificate !== ''" class="field is-horizontal">
          <div class="field-label">
            <label class="label">Expire</label>
          </div>
          <div class="field-body">
            <div class="content">
              {{ certificate.expiresOn }}
            </div>
          </div>
        </div>
        <div v-if="certificate !== ''" class="field is-horizontal">
          <div class="field-label">
            <label class="label">DNS Names</label>
          </div>
          <div class="field-body">
            <div class="content">
              <div class="tags">
                <span v-for="dnsName in certificate.dnsNames" class="tag is-light is-medium">
                  {{ toUnicode(dnsName) }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" @click="submit" :class="{ 'is-loading': sending }" :disabled="certificate === ''">Renew</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js" integrity="sha512-M8VjsuCj1iBzrwKloFNjvQBmFXT2oF0MWExoLGpQT2nEx5tq7CP+BhWGJdczT1LoWAhyqHh+LJ6ihHSVGyclHw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js" integrity="sha512-YZlXEJ9dOHnIn3LXSS3RpbhAtTQZWw2VOywaMsC8p7/0DyGu0gEf0pFhkQtE/i4pQpgGUDY7cicb401Tf/5sRA==" crossorigin="anonymous"></script>
  <script>
    const delay = (millisecondsDelay) => {
      return new Promise(resolve => setTimeout(() => resolve(), millisecondsDelay));
    }

    const app = {
      data() {
        return {
          certificates: [],
          certificate: "",
          loading: false,
          sending: false
        };
      },
      methods: {
        async load() {
          this.loading = true;

          try {
            const response = await axios.get("/api/certificates");

            if (response.status === 200) {
              this.certificates = response.data;
            }
          } catch (error) {
            alert(error);
          }

          this.loading = false;
        },
        reload() {
          this.certificates = [];
          this.certificate = "";

          this.load();
        },
        async submit() {
          this.sending = true;

          try {
            let response = await axios.post("/api/certificate", { dnsNames: this.certificate.dnsNames });

            while (true) {
              await delay(5000);

              response = await axios.get(response.headers["location"]);

              if (response.status === 200) {
                alert("The certificate was successfully issued.");
                break;
              }
            }
          } catch (error) {
            const problem = error.response.data;

            if (error.response.status === 400) {
              const errors = [];

              for (let key in problem.errors) {
                errors.push(problem.errors[key][0]);
              }

              alert(errors.join("\n"));
            } else {
              alert(problem.detail)
            }
          }

          this.reload();
          this.sending = false;
        },
        toUnicode(value) {
          return punycode.toUnicode(value);
        }
      },
      beforeMount() {
        this.load();
      }
    };

    Vue.createApp(app).mount("#app");
  </script>
</body>
</html>
