name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  DOTNET_VERSION: 10.0.x
  BICEP_VERSION: 0.39.26

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Use Bicep ${{ env.BICEP_VERSION }}
      run: |
        az config set bicep.use_binary_from_path=false
        az bicep install --version v${{ env.BICEP_VERSION }}

    - name: Build project
      run: dotnet build -c Release ./src

    - name: Lint C# code
      run: dotnet format --verify-no-changes --exclude ./src/ACMESharpCore --verbosity detailed --no-restore ./src

    - name: Lint Bicep template
      run: az bicep build -f ./deploy/azuredeploy.bicep && git diff --exit-code --quiet
