name: Publish

on:
  push:
    tags: [ v* ]

env:
  DOTNET_VERSION: 10.0.x
  BICEP_VERSION: 0.39.26

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version: ${{ steps.setup_version.outputs.version }}
      major_version: ${{ steps.setup_version.outputs.major_version }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: true

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup Version
      id: setup_version
      run: |
        FULL_VERSION=${GITHUB_REF/refs\/tags\/v/}
        echo "VERSION=${FULL_VERSION}" >> $GITHUB_OUTPUT
        echo "MAJOR_VERSION=${FULL_VERSION%%.*}" >> $GITHUB_OUTPUT

    - name: Publish Function app
      run: dotnet publish -c Release -r win-x86 --no-self-contained -o ./dist -p:Version=${{ steps.setup_version.outputs.version }} ./src/Acmebot

    - name: Zip Function app
      run: 7z a -mx=9 latest.zip ./dist/* ./dist/.[^.]*

    - name: Upload artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: dist
        path: |
          latest.zip
          azuredeploy.bicep

  deploy:
    runs-on: ubuntu-latest
    needs: publish
    permissions:
      contents: read
      id-token: write
    environment: production
    steps:
    - name: Azure Login
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Use Bicep ${{ env.BICEP_VERSION }}
      run: |
        az config set bicep.use_binary_from_path=false
        az bicep install --version v${{ env.BICEP_VERSION }}

    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: dist

    - name: Upload to Blob
      run: |
        az storage blob upload --auth-mode login -f latest.zip --account-name stacmebotprod -c keyvault-acmebot -n v${{ needs.publish.outputs.major_version }}/latest.zip --overwrite
        az storage blob upload --auth-mode login -f latest.zip --account-name stacmebotprod -c keyvault-acmebot -n v${{ needs.publish.outputs.major_version }}/${{ needs.publish.outputs.version }}.zip --overwrite

    - name: Publish to Private Registry
      run: |
        az bicep publish --file ./deploy/azuredeploy.bicep --target br:cracmebotprod.azurecr.io/bicep/modules/keyvault-acmebot:v${{ needs.publish.outputs.major_version }} --force
        az bicep publish --file ./deploy/azuredeploy.bicep --target br:cracmebotprod.azurecr.io/bicep/modules/keyvault-acmebot:v${{ needs.publish.outputs.version }} --force
